#full_container{
    width:1320px ;
    height: auto;
    position: relative;
    margin: auto;
}


body{
    background-color: #EDEDED;
    font-family:arial;
}

#main{
    position: relative;
    top:-5px;
}

#main_search_div{
    position: absolute;
    left:-40px;
    top:45px;
}

header input{
    background-image:url("../icons/magnifying.png");
    background-size: 22px 22px;
    background-repeat:no-repeat;
    background-position: calc(100% - 10px);
    position: absolute;
    left: 580px;
    top:35px;
    height: 35px;
    width: 315px;
    font-size: x-large;
    font-family:arial;
}

header img{
    cursor: pointer;
}

::-webkit-input-placeholder{
    position: relative;
    left:10px;
}

#mainNav{
    background: #FFFFFF;
    height: 47px;
    width:1320px;
    z-index: 1;
}

#mainNav ul{
    position: absolute;
    left:300px;
}


#mainNav li{
    background-color: #FFFFFF;
    display: inline;
    padding: 5px;
    margin-left:15px;
    list-style-type: none;
    font-size: larger;
    cursor: pointer;
}

#mainNav li:hover{
    color:red;
}

a{
    text-decoration: none;
}

#mainNav a{
    color:black;

}

#mainNav a:hover{
    color:red;
}



#myMenu{
    position: absolute;
    top:60px;
}


my-Menu{
    position: absolute;
    top:520px;
    left:75px;
    width: 270px;
}

my-Menu li{
    list-style-type: none;
    background-color:#FD0002 ;
    border-bottom: solid white 1px;
    padding: 7px;
}

my-Menu li:hover {
    -webkit-animation: PopIt 0.5s;
    -webkit-transform: scale(1.1,1.1);
    transform:scale(1.1,1.1);
	background-color:black;
}

@-webkit-keyframes PopIt {
    0% {-webkit-transform: scale(1,1);transform:scale(1,1);}
    100% {-webkit-transform: scale(1.1,1.1);transform:scale(1.1,1.1);}
}


my-Menu a{
    color:white;
    font-size: x-large;
}



.container{
    float:left;
    position:relative;
    width:220px;
    height:220px;
    display: inline-block;
    overflow: hidden;
}

.container img:hover{
    -webkit-animation: PopIt 0.5s;
    -webkit-transform: scale(1.1,1.1);
    transform:scale(1.1,1.1);
}

.container div:hover{
    background-color:#FD0002 ;
    opacity: 1;
}

.container div:hover  section:nth-child(2){
    color:black;

}

.container img:nth-child(1){
    width:220px;
    height:220px;
    position: absolute;
    top:0;
    left:0;
    cursor: pointer;
}

.container div{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: Calc( 220px - 2*10px);
    bottom: 0px;
    left:0px;
    padding:10px;
}



.container section:nth-child(1){
    color:white;
    font-size: x-large;
}

.container section{
    color:red;
    font-size: larger;
}

#mainAlbum{
    width:720px;
    position: absolute;
    left:380px;
    top:500px;
}

#bigPic{
    width: 440px;
    height: 440px;
    float: left;
}

#bigPic img{
    width: 440px;
    height: 440px;
}

.album_container button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    background-size: 25px 25px;
    width:30px;
    height:30px;
    position: relative;
    cursor: pointer;
    left:5px;
    top:7px;
    margin-right: 10px;
}

.album_container button:hover{
    -webkit-animation: scaleIt 1.5s;
    cursor:pointer;
}

@-webkit-keyframes scaleIt {
    0% {-webkit-transform: scale(1,1);transform:scale(1,1);}
    50% {-webkit-transform: scale(1.2,1.2);transform:scale(1.2,1.2);}
    100% {-webkit-transform: scale(1,1);transform:scale(1,1);}
}

.album_container button:nth-child(1){
    background-image:url("../icons/cart.png");
}

.album_container button:nth-child(2){
    background-image:url("../icons/info.png");
}

.album_container{
    float: left;
    margin-left: 30px;
    width:200px;
    position:relative;
    margin-bottom: 240px;
}

.album_container img{
    width: 200px;
    height: 200px;
    position: absolute;
    top:0;
    left:0;
}
.album_container span{
    color:red;
    font-size: x-large;
    position: relative;
    top:-15px;
}

.album_container div{
    position: relative;
    top:200px;
    background-color: black;
    padding-left: 30px;
    position: relative;
    background-color: black;
}

.album_container div:hover {
    background-color:#FD0002 ;
}

.album_container div:hover span{
    color:black;
}

.album_container section:nth-child(1){
    position: relative;
    top:0px;
    color:white;
    font-size: larger;
    height: 105px;
    height:80px;
    padding:15px 10px 0px 10px ;
}


#newProducts_container{
    position: absolute;
    top:0;
}

#mainAlbum h2{
    background-color: white;
    padding: 10px 0px 10px 30px;
}

#main_cart_bar{
    position: absolute;
    right: 220px;
    top:82px;
    color:white;
}


#main_search_div{
    position:absolute;
}

/***************************** Category *********************************/

.path{
    background-color: white;
    color:black;
    padding:5px ;
    padding-left: 150px;
}

.path a{
    color:black;
    font-family:Courier New;

}

#youAreHere{
    color:gray;
}

h3{
    background-color: white;
    width:720px;
    padding-left: 100px;
}


#category_container{
    position: absolute;
    width:720px;
    left: 380px;
}

#categoryNav{
    position: absolute;
    top:100px;
}


/****************  Product page ********************************/


#big-img{
    width:350px;
    height:400px;
}

#product-container{
    top:105px;
    left:380px;
    width:900px;
    height:530px;
    position:absolute;
}
.product-images{
    width:400px;
    height:600px;
    float:left;
}

.product-images img{
    width:115px;
    height:110px;
}
#product-right{
    width:450px;
    height:340px;
    float:right;
}

#product-right h1:nth-child(2){
    color:red;
}

#product-title{
    color:gray;
    font-family:arial;
}
#right-down{
    width:450px;
    height:180px;
    background-color:rgb(251,251,251);
    float:right;
}

#right-down span, #right-down input, .QtyBtn{
    position: relative;
    left:36px;
}
#product-qty{
    width:30px;
    height:20px;
    border:gray solid 3px;;

    text-align:center;

}
#right-down img{
    width:20px;
    height:20px;
    cursor:pointer;
    position:relative;
    top:5px;
}
#right-down h3{
    color:red;
}
#right-down label {
    clear:both;
    margin-left:20px;
}
#right-down hr{
    width:400px;
}
#heartIcon{
    cursor:pointer;
    position: relative;
    left:30px;
}

#product-details{
    width:900px;
    height:40px;
    background-color: white;
    clear:both;
    position: relative;
    top:-60px;
}
#product-down{
    width:900px;
    height:150px;
    position: relative;
    top:-60px;

}

#right-down h3{
	width:70px;
    position: relative;
    left:30px;
    padding: 0px;
}

#product-button{
    background-color:black;
    color:white;
    width:130px;
    height:40px;
    text-align:center;
    cursor:pointer;
    font-size:12px;
    margin-left:140px;
    border: none;
}

#product-down div,#product-right div{
    color:gray;
    font-family:arial;
    font-size:larger;
}


/******************   wishList/Cart  **********************/


my-Cart{
    position: absolute;
    top:520px;
    left:120px;
}

my-Cart div{
   width: 230px;
}

my-Cart label{
    font-weight: bold;
    font-size: larger;
    background-color: white;
    padding: 5px 135px 5px 20px;
}

my-Cart ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
my-Cart ul li{
    position: relative;
    left:0px;
    height: 80px;
    width: 250px;
    margin-bottom: 60px;
}


my-Cart img{
    width:90px;
    height:90px;
    float: left;
    margin-right: 15px;
}


#results{
    width:320px;
    margin:0 auto;
    margin-top:80px;
    position: absolute;
    left:580px;
    background-color:white;
    z-index:1;
}


#results ul{
    list-style-type:none;
    padding: 0px;
    margin: 0px;
}

#results li{
    cursor:pointer;
    color:black;
    padding: 10px;
    border-bottom: solid black 1px;
    height: 80px;
}

#results label{
    font-size: large;
    border: solid black;
}

#results li:hover{
    background-color: black;
    color:white;
}

#results img{
    width: 60px;
    height: 60px;
    margin: 5px 15px 5px 5px;
    float: left;

}

#getMore{
   border: solid;
    width:32px;
    position: absolute;
    left: 300px;
    bottom: 20px;
    background-color: red;
    padding: 10px;
    border-radius:32px ;
    -webkit-animation: scaleIt 1s infinite;
    cursor: pointer;
}

