
<!doctype html>
<html ng-app="myApp">
<head>
    <title>Music Store</title>
    <link rel="shortcut icon" href="icons/Music-icon.png" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="icons/IcoMoon/IcoMoon-Style.css">

    <!---------------  Libs ------------------->
    <script src="lib/angularJs/angular.min.js"></script>
    <script src="lib/angularJs/angular-route.min.js"></script>
	<script src="lib/angularJs/angular-animate.min.js"></script>
	<script src="lib/taggedInfiniteScroll.min.js"></script>

    <!-- ------------- main js---------------->
    <script src="app/main/route.js"></script>
    <script src="app/main/main_controller.js"></script>
    <script src="app/main/main_factory.js"></script>

            <!-- ------------- directivesjs---------------->
            <script src="app/main/directives/myMenu_directive.js"></script>
            <script src="app/main/directives/myCart_directive.js"></script>
            <script src="app/main/directives/newAlbums_directive.js"></script>


    <!-- ---------------home js------------------->
    <script src="app/home/home_controller.js"></script>
    <script src="app/home/home_factory.js"></script>

    <!--------------- category js ---------------->
    <script src="app/category/category_controller.js"></script>
    <script src="app/category/category_factory.js"></script>


    <!------------------ product js ---------------->
    <script src="app/product/product_controller.js"></script>
    <script src="app/product/product_factory.js"></script>
    <script src="app/product/product_service.js"></script>

    <!------------------- checkout js-------->
    <script src="app/checkout/checkout_controller.js"></script>
 	<script src="app/checkout/checkout_factory.js"></script>
   
</head>
<body ng-controller="mainController">

<div id="full_container">
    <nav id="mainNav">
        <ul>
            <li><a href="#/">Home</a></li>
            <li ng-hide="myAccountLi" ng-init="myAccountLi=true"><a>My Account</a></li>
            <li><a>My Wishlist</a></li>
            <li><a href="#checkout">Checkout</a></li>
            <li ng-hide="loginLi" ng-init="loginLi=false"><a href="app\login\login.php">Login</a></li>
            <li ng-hide="logoutLi" ng-init="logoutLi=true" ng-click="logout()">Logout</li>
        </ul>
    </nav>

    <header>
        <img  ng-click="goHome('/')" src="icons/header.png"/>
        <div id='main_search_div'>
            <input type="text" placeholder="Search" ng-model="word"  ng-keyup="search(word)"/>
            <div id='results' ng-init="hideSearch=true" ng-hide="hideSearch"  ng-mouseleave="mouseLeave()">
                <ul>
                    <li ng-repeat='result in resuls'  ng-click='showAlbum(result.album_id)|limitTo:6' >
                        <img ng-src="images/{{result.image_path}}" />
                        <span><strong>{{result.album_name}}</strong></span><br/>
                        <span>{{result.album_artist}}</span><br/>
                         <span>Realeased {{result.album_release_year}}</span><br/>
                    </li>
                </ul>
            </div>
        </div>
        <div id="main_cart_bar">
           {{numberCartItem}}
        </div>
    </header>



    <div id="main" ng-view></div>



</div>

</body>
</html>