body{
	overflow:hidden;
}

header{
	background-color:#FD0002 ;
	height: 105px;
	width: 100%;
	position: absolute;
	left:-2px;
	top: 47px;
}

header label{
	position: absolute;
	left:240px;
	color: white;
	font-size: 85px;
	font-family: Arial;
}

header input{
	background-image:url("../../../icons/magnifying.png");
	background-size: 28px 28px;
	background-repeat:no-repeat;
	background-position: calc(100% - 10px);
	position: absolute;
	left: 580px;
	top:35px;
	height: 35px;
	width: 315px;
	font-size: x-large;
}

::-webkit-input-placeholder{
	position: relative;
	left:10px;
}


nav{
	position: fixed;
	top:0px;
	left:-2px;
	background: #FFFFFF;
	height: 47px;
	width: 100%;
	z-index: 1;
}

nav ul{
	position: fixed;
	left:357px;
}


nav li{
	background-color: #FFFFFF;
	display: inline;
	padding: 5px;
	margin-left:15px;
	list-style-type: none;
	font-size: larger;
}

a{
	text-decoration: none;
}

nav a{
	color:black;
}


nav a:hover{
	color:red
}

#container{
	width:1100px;
	height:400px;
	margin:0 auto;
	position: relative;
	top:140px;
}
.header{
	background-color:white;
	font-family:arial;
	font-size:25px;
	width:1100px;
	text-indent: 50px;
	margin:0 auto;
}
.footer{
	background-color:black;
	width:110%;
	height:100px;
	position:fixed;
	bottom:0px;
	left:-2px;
}
body{
	background-color:#E8E8E7;
	font-family:arial;
}

#left{
	width:500px;
	height:250px;
	background-color:white;
	float:left;
}

.gray{
	color:gray;
	font-size:12px;
	text-indent: 20px;
	line-height: 50%;
}
#right{
	width:500px;
	height:300px;
	background-color:white;
	float:right;
}
button{
	background-color:black;
	color:white;
	width:130px;
	height:40px;
	text-align:center;
	cursor:pointer;
	font-size:12px;
	margin-left:18px;
	border: none;
	
}

.title{
	color:red;
	text-indent: 20px;
	font-size:12px;
}
form{
	margin-left:18px;

}
.form-title{
	font-size:12px;

}
input{
	width:350px;
	height:25px;
}
.submit{
	background-color:black;
	color:white;
	width:70px;
	height:30px;
	text-align:center;
	cursor:pointer;
	font-size:12px;
	position:absolute;
	top:280px;
	border: none;

}
.feedback{
	font-size:9px;
	color:red;
}

.notvalid{
	background-color:#FFDBDB;
	border-style:dotted;
	border-color:red;
}

#note{
	color:red;
	font-size:9px;
	float:right;
	margin-right:10px;
}
#register{
	clear:both;
	background-color:white;
	width:250px;
	height:overflow;
	border:gray solid 1px;
	z-index:1;
	position:relative;
	margin:0 auto;
	top:-350px;
	padding-bottom: 20px;
}


.register-title{
	color:black;
	font-size:12px;
	font-weight:bold;
}
.input-registration{
	width:210px;
	height:20px;

}
.space{
	height:5px;
}
#close-registration{
	float:right;
	color:gray;
	cursor:pointer;
	margin-right:10px;
	margin-top:10px;
}
#submitregister{
	background-color:black;
	color:white;
	width:215px;
	height:30px;
	text-align:center;
	cursor:pointer;
	font-size:12px;
	margin:0 auto;
	border: none;
}

.group{
	margin-bottom: 10px;
}
#fb{
	position: relative;
	top:14px;
	height: 40px;
	cursor: pointer;
	margin-left: 20px;
}