<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="login_style.css">
	<script src='../app/lib/angular.min.js'></script>
	<script src="login_app.js"></script>
	
	
</head>
<body ng-app='myApp' ng-controller='ctrl'>


	<header>
		<label>MUSIC</label>
		<input type="text" placeholder="Search"/>
	</header>

	<nav>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a>My Account</a></li>
			<li><a>My Wishlist</a></li>
			<li><a>Checkout</a></li>
			<li><a href="login/login.html">Login</a></li>
		</ul>
	</nav>



	<div id='container' >
		<div class='header'>
			<p>Login or Create an Account</p>
		</div>
		<div id='left'>
			<p class='title'>NEW CUSTOMERS</p>
			<hr width="460">
			<p class='gray'>By creating an account with our store,you will be able</p>
			<p class='gray'>to move through the checkout process faster,store multiple </p>
			<p class='gray'>shipping addresses,view and track your orders in your account and more.</p>
			<br>
			<button ng-click='openregister()'>Create An Account</button>
		</div>
		
		<div id='right'>
			<p class='title'>REGISTERED CUSTOMERS</p>
			<hr width="460">
			<p class='gray'>If you have an account with us,please log in. </p>
			
			
			
			
			<form name="loginForm"   ng-show="flag" class="sample"  action=""  novalidate >
				<p class='form-title'>Email Address<span style='color:red'> *</span></p>
				<input type='email' name="loginEmail" ng-model="loginEmail" ng-class="{ 'notvalid': loginForm.loginEmail.$error.required && loginForm.loginEmail.$dirty}" required>
				<p class='feedback' ng-show="loginForm.loginEmail.$error.required && loginForm.loginEmail.$dirty">Email is required.</p>
				<p  class='feedback' ng-show="loginForm.loginEmail.$error.email  && loginForm.loginEmail.$dirty">Invalid email address.</p>
				<p class='form-title'>Password<span style='color:red'> *</span></p>
				<input type='password' name="loginPassword" ng-model="loginPassword" ng-class="{ 'notvalid':loginForm.loginPassword.$error.required && loginForm.loginPassword.$dirty}" required>
					<p class='feedback' ng-show="loginForm.loginPassword.$error.required && loginForm.loginPassword.$dirty">Password is required.</p>
			
				<br>
				<br>
				<button  ng-disabled="loginForm.loginPassword.$dirty && loginForm.loginPassword.$invalid ||  
				loginForm.loginEmail.$dirty && loginForm.loginEmail.$invalid || loginForm.loginPassword.$pristine 
				|| loginForm.loginEmail.$pristine" class='submit' ng-click="login()" >Login</button> 
			</form>
			<p id='note'>*Required fields</p>
		</div>
		
		
		<div id='register' ng-show='regist'>
			<span ng-click='closeregistration()' id='close-registration'>X</span>
			<p style='text-align:center;color:gray;clear:both'>Resitration</p>
			
			
			
			<form name="formRegistration" action=""   novalidate >
				<p class='register-title'>Profile Information</p>
				
				<input type='text'   placeholder='First Name' name='firstname' class='input-registration' ng-model='firstname' required >
				<p class='feedback' ng-show="formRegistration.firstname.$error.required " >First name is required.</p>
				
				<div class='space'></div>
				
				<input type='text' placeholder='Last Name' name='lastname' class='input-registration' ng-model='lastname' required>
				<p class='feedback' ng-show="formRegistration.lastname.$error.required ">Last name is required.</p>
				
				<p class='register-title'>Login Data</p>
				<input type='email' placeholder='E-mail address' name='email' class='input-registration' ng-model='email' required>
				
				<p class='feedback' ng-show="formRegistration.email.$error.required ">Email is required.</p>
				
				<p class='feedback' ng-show="formRegistration.email.$error.email">Email is not valid.</p>
				
				<div class='space'></div>
				
				
				<input type='password' placeholder='Password'  name='password' class='input-registration' ng-model='password' required ng-keyup="valdiateLengthPassword()" >
				<p class='feedback' ng-show="formRegistration.password.$error.required ">Password is required.</p>
				<p class='feedback' ng-show="toSmall" >Password has to be bigger than 5.</p>
				<p class='feedback' ng-show="toBig" >Password has to be smaller than 9.</p>

				<div class='space'></div>
				<input type='password' placeholder='Password confirmation' name='repassword'  class='input-registration' ng-model='repassword' required  ng-keyup="valdiateRePassword()">
				<p class='feedback' ng-show="formRegistration.repassword.$error.required ">Confirmation is required.</p>
				<p class='feedback' ng-show="notEqual">password and repassword not equal.</p>
				
				<div class='space'></div>
				<div class='space'></div>
				<button id='submitregister' ng-click='registration()' ng-disabled="formRegistration.firstname.$error.required ||
				formRegistration.lastname.$error.required  || formRegistration.email.$error.required || formRegistration.email.$error.email
				|| formRegistration.password.$error.required || formRegistration.repassword.$error.required || toSmall || toBig || notEqual  "
				>Register</button>
				<div class='space'></div>
				<div class='space'></div>
			</form>
		</div>
		
	</div>
	<div class='footer'></div>
	
</body>
</html>