
<div id="albumsFlow" >
    <div id="bigPic" ng-init="i=0" ng-mouseenter='checked=!checked' ng-mouseleave= 'checked=!checked'>
        <img ng-src="images/{{albums[i].image_path}}" />
        <div ng-show="checked" ng-init="checked=false">
            <section>{{albums[i].album_name}}</section>
            <section>{{albums[i].album_artist}}</section>
            <section>
                <span class="icon icon-cart" ng-click="addToCart(i)"></span>
                <span class="icon icon-info" ng-click='goToProductPage(albums[i].album_id)'></span>
            </section>
        </div>
    </div>
    <div class="container" ng-repeat="album in albums|limitTo:9" ng-if="$index > 0" ng-mouseenter='checked=!checked' ng-mouseleave= 'checked=!checked'>
        <img ng-src="images/{{album.image_path}}"  >
        <div  ng-show="checked" ng-init="checked=false">
            <section>{{album.album_name}}</section>
            <section>{{album.album_artist}}</section>
            <section>
                <span class="icon icon-cart" ng-click="addToCart($index)"></span>
                <span class="icon icon-info" ng-click='goToProductPage(album.album_id)'></span>
            </section>
        </div>
    </div>
</div>


<my-Menu></my-Menu>
<new-albums></new-albums>
<my-Cart id="myCart"></my-Cart>

<div id="mainAlbum" ng-init="getAlbums()">
    <div id="newProducts_container" tagged-infinite-scroll="getMore()" tagged-infinite-scroll-distance="-700">
        <h2>New Products</h2>

        <div class="album_container" ng-repeat="album in moreAlbums" >

            <img ng-src="images/{{album.image_path}}" ng-click='goToProductPage(album.album_id)' style='cursor:pointer' >
            <div>
                <section>{{album.album_name}} - {{album.album_artist}}</section>
                <section>{{album.album_price| currency}}</section>
                <span class="icon icon-cart" ng-click="addMoreToCart($index)"></span>
                <span class="icon icon-info" ng-click='goToProductPage(album.album_id)'></span>
            </div>
        </div>
    </div>
</div>
</div><!--close mainAlbum Div-->


