<div>
    <label>My Cart</label>
    <p style='font-size:12px'>There are <strong>{{numberCartItem}} items</strong> in your cart<p>
    <hr/>
    <p style='font-size:12px'>Cart subtotal: <strong>$ {{subtotal()}}</strong><p><button id='checkout_cart' ng-click='goCheckOut()'>checkout</button>
    <hr/>
    <ul>
        <p>Recently added item(s)</p>
        <li ng-repeat="item in myCart|limitTo:3">
        	<span class='x' ng-click='deleteFromCard()'>x</span>
            <img ng-src="images/{{item.image_path}}">
            <p>{{item.album_name}}</p>
            <p>{{item.album_artist}}</p>
            <p>$ {{item.album_price}}</p>
            <hr style='width:230px;margin-left:-10px'>
        <li/>
    </ul>
</div>
