<style>


#checkout-ul li{
	
	width:700px;
	height:30px;
	border:black solid 1px;
	color:white;
	list-style-type: none;
	font-size:12px;
	
}
#checkout-ul div{
	height:300px;
	border:silver solid 1px;
	width:700px;

}
#checkout_container{
	margin:0 auto;
	border:black solid 1px;

}
#checkout-ul p{
	font-size:13px;
	font-weight:bold;
	margin-left:10px;
	 line-height: 70%;
}
#checkout-address{
	width:525px;
	height:25px;
	margin-left:10px;
}
#checkout-city{
	width:250px;
	height:25px;
	margin-left:10px;
}
#checkout-zip{
	width:250px;
	height:25px;
	float:right;
	margin-right:160px;
}
#checkout-zip-feedback{
	float:right;
	margin-right:330px;
}


#checkout-telephone{
	width:250px;
	height:25px;
	margin-left:10px;
}
.checkout-continue{
	background-color:black;
	color:white;
	float:right;
	width:90px;
	height:30px;
	margin-right:10px;
	margin-top:-20px;
}
.feedback{
	font-size:10px;
	color:red;
}
#checkout-order label{
	font-size:12px;
}
#checkout-order p{
	font-size:12px;
	 line-height: 20%;
	
}
#checkout_card{
	width:200px;
}
#checkout_verifaction{
	width:30px;
}
#checkout-order input[type='text'],input[type='date'],select{
	margin-left:15px;
}
#checkout_digit{
	left:350px;
	margin-top:-100px;
	position:absolute;
}
.black{
	background-color:rgb(58,58,58);
}
.red{
	background-color:rgb(253,0,2);
}
</style>

<div id='checkout_container'>
	<ul id='checkout-ul'>
	
		<li ng-class="x1">Billing Informaition</li>
			<br>
			<div id='checkout-billing' ng-show='billing'>
				<form name='billingForm'  novalidate>
					<p>Address<span style='color:red'>*</span></p>
					
					<input type='text' id='checkout-address' name='address' ng-model= 'address' required>
					<p class='feedback' style='font-size:8px' ng-show="billingForm.address.$error.required " >This is a required field.</p>
					
					
					<p>City<span style='color:red'>*</span><span style='margin-left:250px'>Zip/Postal Code</span><span style='color:red'>*</span></p>
					
					
					<input type='text' id='checkout-city' name='city' ng-model= 'city' required>
					
					
					<input type='text' id='checkout-zip' name='zip' ng-model= 'zip' required>
					<p class='feedback' style='font-size:8px' ng-show="billingForm.zip.$error.required " id='checkout-zip-feedback' >This is a required field.</p>
				
					<p class='feedback' style='font-size:8px' ng-show="billingForm.city.$error.required " >This is a required field.</p>
					
					<p>Telephone<span style='color:red'>*</span></p>
					
					<input type='text' id='checkout-telephone' name='telephone'  ng-model='telephone' required>
					<p class='feedback' style='font-size:8px' ng-show="billingForm.telephone.$error.required " >This is a required field.</p>
					
					<p style='color:red'>Requierd Fields*</p>
					
					<button class='checkout-continue' ng-click='billingFunc()'
					ng-disabled='billingForm.address.$error.required || billingForm.zip.$error.required  || 
					billingForm.city.$error.required || billingForm.telephone.$error.required'>Continue</button>
				</form>
					
			</div>
			
		
		
		<li ng-class="x2" >Payment Informaition</li>
			
			<div id='checkout-order' ng-show='payment' novalidate">
				
				<input type='radio' name='payment' value='check' ng-model="content" ng-checked='true'><label>Check/Money Order</label>
				<br>
				<input type='radio'  name='payment' value='credit_card' ng-model="content"><label>Credit Card(saved)</label>
				
				
				
				
				<form ng-show="content == 'credit_card'" name='paymentForm'>
					<p>Name on Card<span style='color:red'> *</span></p>
					<input type='text' name='name_on_card' ng-model='name_on_card' required>
					<span ng-show='paymentForm.name_on_card.$error.required' class='feedback'>This field is required.</span>
					
					<p>Credit Card Type<span style='color:red'> *</span></p>
					<select id='checkout_card' name='card_type'  >
						<option>Visa</option>
						<option>Master Card</option>
					</select>
					
					<p>Credit Card Number<span style='color:red'> *</span></p>
					<input type='text' name='card_number' ng-model='card_number'  required >
					<span ng-show='paymentForm.card_number.$error.required' class='feedback'>This field is required.</span><br>
					
					<p>Expiration Date<span style='color:red'> *</span></p>
					<input type='date' name='expiration' ng-model='expiration' required >
					<span ng-show='paymentForm.expiration.$error.required' class='feedback'>This field is required.</span><br>
					
					<p>Card Verifaction<span style='color:red'> *</span></p>
					<input type='text' name='verifaction' ng-model='verifaction' id='checkout_verifaction' required><span style='font-size:12px;cursor:help' ng-mouseover='x=true'> What is this?</span>
					<span ng-show='paymentForm.verifaction.$error.required' class='feedback'>This field is required.</span><br>
					
					<img ng-show='x' src='icons/digit.jpg' id='checkout_digit'>
					
				</form>
				<button class='checkout-continue' ng-click='paymentFunc()'
				ng-disabled='paymentForm.name_on_card.$error.required || paymentForm.name_on_card.$error.required
				||paymentForm.card_number.$error.required ||paymentForm.expiration.$error.required
				||paymentForm.verifaction.$error.required'>Continue</button>
				
			</div>
			
			
		
		
		<li ng-class="x3">Order Review</li>
		
			<div id='order' ng-show='order'>
				
			
			</div>
	
	</ul>

</div>