
<my-Menu id="myMenu"></my-Menu>

<div class="myCart">
    <label>My Cart</label>
    <my-Cart></my-Cart>
</div>

<div>
    <h2 class="path"><a href="#/"> Home > </a><a id="youAreHere">{{albumCategory}}</a></h2>
        <div id="category_container">
            <h3>{{albumCategory}} (item count)</h3>
            <div class="album_container"  ng-repeat="album in category|limitTo:6">
                <img  ng-src="images/{{album.image_path}}">
                <div>
                    <section>{{album.album_name}} - {{album.album_artist}}</section>
                    <span>
                        {{album.album_price| currency}}
                        <button></button>
                         <button ng-click='goToProductPage(album.album_id)'></button>
                    </span>
                </div>
            </div>
        </div>
</div>



