<my-Menu id="myMenu"></my-Menu>

<h2 class="path">
	<a href="#"> Home </a>  >  <a id="youAreHere" href="#product/{{album.album_id}}"> {{album.album_artist}}</a>
</h2>
<div id='product-container'>
	<div class='product-images'>
 		<img id="big-img" ng-src="images/{{album.image_path}}" />
		<img ng-src="images/{{album.image_path}}"/>
		<img ng-src="images/{{album.image_path}}"/>
		<img ng-src="images/{{album.image_path}}"/>
	</div>
	
	<div id='product-right'>
		<h1 ng-bind="album.album" id='product-title'></h1>
		<h2>Availability: </h2><span id='product-in-stock'></span>
		<hr>
		<p>only 5 available...<p>
		<h1 style='color:red' >{{album.price | currency}}</h1>
		<div>{{album.album_description}}</div>
	</div>
	
	<div id='right-down'>
		<h3 >{{album.album_price | currency}}</h3>
		<hr>
		<span>Qty: </span>
		<input type='text' id='product-qty' ng-model='Qty'>
		<img class="QtyBtn" ng-src='icons/plus.jpg' ng-click="countQty('up')"/>
		<img class="QtyBtn" ng-src='icons/minus.jpg' ng-click="countQty('down')">
		<hr>
		<img  id="heartIcon" ng-src="icons/{{heart}}.jpg"  ng-click="addToWishlist()" ><span> Add to Wishlist</span>
		<button id='product-button' ng-click='funcAddToCart()'>Add To Cart</button>
	</div>
	
	<div id='product-details'  style='font-family:arial'>Details</div>
	<br>
	<div id='product-down'>
		<div>{{album.album_long_description}}</div>
	</div>
</div>



