<div class="twoNewAlbums"    >
    <img ng-src="images/{{albums[9].image_path}}" ng-click='goToProductPage(albums[9].album_id)' style='cursor:pointer' >
    <div>
        <section>{{albums[9].album_name}}</section>
        <section>{{albums[9].album_artist}}</section>
        <section>{{albums[9].album_description}}</section>
    </div>
     <img ng-src="images/{{albums[10].image_path}}" ng-click='goToProductPage(albums[10].album_id)' style='cursor:pointer' >
    <div>
        <section>{{albums[10].album_name}}</section>
        <section>{{albums[10].album_artist}}</section>
        <section>{{albums[10].album_description}}</section>
    </div>
</div>